## Practical 2_a

## Creating tuples with different datatypes (int, float, string, mixed)

In [ ]:
tuple_int = (1, 2, 3, 4, 5)
print(tuple_int)

tuple_float = (1.1, 2.2, 3.3, 4.4, 5.5)
print(tuple_float)

tuple_str = ('Prince', 'Aryan', 'Aarav', 'Suhana', 'Navya')
print(tuple_str)

tuples_mixed = (1, 2.2, 'Prince', 4.4, True)
print(tuples_mixed)

# Access tuple elements using and positive and negative indices

In [ ]:
t = (10, 20, 30, 40, 50)

print(t[0])
print(t[2])
print(t[-1])
print(t[-2])

#  Slicing

In [3]:
t = (10, 20, 30, 40, 50)

print(t[1:3])
print(t[:4])
print(t[::2])
print(t[:-2])
print(t[::-2])

(20, 30)
(10, 20, 30, 40)
(10, 30, 50)
(10, 20, 30)
(50, 30, 10)

# Count the number occurrence in tuple.

In [ ]:
print("number of 10 : ", t.count(10))
print("number of 20 : ", t.count(20))

# Index of the element

In [ ]:
print("number of 30 : ", t.index(30))
print("number of 40 : ", t.index(40))
print("number of 50 : ", t.index(50))

# using try...expect for unnavigable values

try:
    print(t.index(100))
except Exception as e:
    print(e)

# In-built Functions len(), max(), min() and sum()

In [ ]:
print("Length of tuple : ", len(t))
print("Max of tuple : ", max(t))
print("Min of tuple : ", min(t))
print("Sum of tuple : ", sum(t))

# Write a program to count and print distinct elements from the tuple

In [ ]:
new_tuple = (1, 2, 3, 3, 4, 5, 5, 10, 1, 1)

print("Distinct elements in tuple 'new_tuple': '", set(new_tuple))

for element in set(new_tuple):
    print(f"Element {element} appears in tuple : {new_tuple.count(element)}")

# Convert a list to tuple and vice versa

In [ ]:
print("List : ",list(new_tuple))
t_list = list(new_tuple)
print("Tuple : ",tuple(t_list))

# Demonstrate unpacking of elements in a tuple

In [ ]:
person = ("Prince", "Lad", 19)

(f_name, l_name, age) = person

print("First name : ", f_name)
print("Last name : ", l_name)
print("Age : ", age)