## => Practical 2a

* Create tuples with different data types (integer, float, string, and mixed).

In [1]:
t = (10, 20, 30, 10, 40, 50, 20, 30, 40)

tuple_int = (1, 2, 3, 4, 5)
print("Integer tuple:", tuple_int)

tuple_float = (1.1, 2.2, 3.3, 4.4, 5.5)
print("Float tuple:", tuple_float)

tuple_str = ('Prince', 'Aryan', 'Aarav', 'Suhana', 'Navya')
print("String tuple:", tuple_str)

tuples_mixed = (1, 2.2, 'Prince', 4.4, True)
print("Mixed tuple:", tuples_mixed)

Integer tuple: (1, 2, 3, 4, 5)
Float tuple: (1.1, 2.2, 3.3, 4.4, 5.5)
String tuple: ('Prince', 'Aryan', 'Aarav', 'Suhana', 'Navya')
Mixed tuple: (1, 2.2, 'Prince', 4.4, True)

* Access tuple elements using positive and negative indices.

In [2]:
print(t[0])   # Accessing the first element using positive index
print(t[2])   # Accessing the third element using positive index
print(t[-1])  # Accessing the last element using negative index
print(t[-2])  # Accessing the second last element using negative index

10
30
40
30

* Perform tuple slicing to extract specific portions of the tuple.

In [3]:
print(t[1:3])   # Extract elements from index 1 to 2
print(t[:4])    # Extract elements from the beginning to index 3
print(t[::2])   # Extract every second element
print(t[:-2])   # Extract elements from the beginning to the second last element
print(t[::-2])  # Extract every second element in reverse order

(20, 30)
(10, 20, 30, 10)
(10, 30, 40, 20, 40)
(10, 20, 30, 10, 40, 50, 20)
(40, 20, 40, 30, 10)

* Count occurrences of an element and find the index of an element in a tuple.

In [4]:
print("number of 10 : ", t.count(10))
print("number of 20 : ", t.count(20))

print("index of 10 : ", t.index(10))
try:
    print("index of 20 : ", t.index(20))
except ValueError:
    print("20 is not in the tuple")

number of 10 :  2
number of 20 :  2
index of 10 :  0
index of 20 :  1

* Use built-in functions like len(), max(), min(), and sum() with tuples.

In [5]:
print("Length of tuple t: ", len(t))
print("Max of tuple t: ", max(t))
print("Min of tuple t: ", min(t))
print("Sum of tuple t: ", sum(t))

Length of tuple t:  9
Max of tuple t:  50
Min of tuple t:  10
Sum of tuple t:  250

* Write a program to count and print distinct elements from a tuple.

In [6]:
distinct_elements = set(t)
print("Distinct elements in tuple 't':", distinct_elements)

for element in distinct_elements:
    print(f"Element {element} appears in tuple: {t.count(element)} times")

Distinct elements in tuple 't': {40, 10, 50, 20, 30}
Element 40 appears in tuple: 2 times
Element 10 appears in tuple: 2 times
Element 50 appears in tuple: 1 times
Element 20 appears in tuple: 2 times
Element 30 appears in tuple: 2 times

* Convert a list to tuple and vice versa

In [7]:
# Convert tuple to list
new_tuple = (10, 20, 30, 40, 50)
t_list = list(new_tuple)
print("List:", t_list)

# Convert list back to tuple
new_tuple_converted = tuple(t_list)
print("Tuple:", new_tuple_converted)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

* Demonstrate unpacking of elements in a tuple

In [8]:
person = ("Prince", "Lad", 19)

(f_name, l_name, age) = person

print("First name : ", f_name)
print("Last name : ", l_name)
print("Age : ", age)

First name :  Prince
Last name :  Lad
Age :  19